[submodule "raylib"]
	path = raylib
	url = https://github.com/raysan5/raylib.git
[submodule "mewlib"]
	path = mewlib
	url = https://github.com/svan9/mewlib
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
